* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

#base_calculator {

    position: relative;
    top: 50px;
    box-sizing: border-box;

    width: 330px;
    height: 350px;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    filter: drop-shadow(0.5px 0.866px 1.5px rgba(0,0,0,0.42));
    background-image: linear-gradient(0deg, #a6a6a6 0%, #ffffff 100%);

    box-shadow: 2px 3px 3px black;
}

#calculator_display {
    width: 308px;
    height: 60px;
    position: relative;
    bottom: 15px;

    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;

    background-image: linear-gradient(0deg, #febf04 0%, #ffd65e 100%);
    border: 2px solid #ffffff;
}

#calculator_display > h1:hover {
    cursor: default;
}

#calculator_display > h1 {
    position: relative;
    right: 10px;
    margin: 0;
}

#calculator_numpad {
    width: 305px;
    height: 235px;

    position: relative;
    top: 5px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
}

#numpad_left {
    width: 227px;
    height: 235px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
}

#numpad_up {
    width: 227px;
    height: 190px;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#numpad_down {
    width: 227px;
    height: 34px;
    
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

#numpad_right {
    width: 72px;
    height: 235px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.numpad_button {
    width: 72px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #eeeeee;
    border: 1px solid ;

    box-shadow: 1px 1px 1px rgb(61, 61, 61);
    border-radius: 4px;
}

.numpad_button:hover {
    cursor: default;
    background-color: black;
    color: white;
}

#zero {
    width: 150px;
    height: 35px;
}

#equal {
    width: 72px;
    height: 83px;
}